<h2>Carts</h2>
<ul>
    <li>
        <a href="/api/products">Products</a>
    </li>
    <li>
        <a href="#" onclick="createCart()">Crear Carrito</a>
    </li>
    <li>
        <a href="/chat">Chat</a>
    </li>
</ul>

<hr>

<table border="1">
    <thead>
        <tr>
            <td>Carrito ID</td>
            <td>Producto ID</td>
            <td>Title</td>
            <td>Quantity</td>
            <td>Eliminar</td>
        </tr>
    </thead>
    <tbody>
        {{#each carts}}
        <tr>
            <td>{{this._id}}</td>
            <td colspan="4"></td> 
            <td>
                <button onclick="deleteCart('{{this._id}}')">Eliminar carrito</button>
            </td>
        </tr>
            {{#each this.products}}
            <tr>
                <td></td> 
                <td>{{this._id}}</td>
                <td>{{this.title}}</td>
                <td>{{this.quantity}}</td>
                <td>
                    <button onclick="deleteProduct('{{../_id}}', '{{this._id}}')">Eliminar Producto</button>
                </td>
            </tr>
            {{/each}}
        {{/each}}
    </tbody>
</table>



<script>
    const url = "/api/carts"
    function createCart() {
        fetch("/api/carts", {
            method: "POST"
        })
        window.location.href = url;
    }
    function deleteCart(cartId) {
            console.log("Eliminar carrito con ID:", cartId);
        fetch(`/api/carts/${cartId}`, {
            method: "DELETE"
        })
        .then(response => {
            if (response.ok) {
                console.log("Carrito eliminado correctamente");
            } else {
                console.error("Error al eliminar el carrito:", response.statusText);
            }
        })
        .catch(error => {
            console.error("Error al eliminar el carrito:", error);
        });
        window.location.href = url;
    }
    function deleteProduct(cartId, productId) {
            console.log("Eliminar producto con ID:", productId);
        fetch(`/api/carts/${cartId}/products/${productId}`, {
            method: "DELETE"
        })
        .then(response => {
            if (response.ok) {
                console.log("Producto eliminado correctamente");
            } else {
                console.error("Error al eliminar el producto:", response.statusText);
            }
        })
        .catch(error => {
            console.error("Error al eliminar el producto:", error);
        });
        window.location.href = url;
    }
</script>
